{% extends "templates/web.html" %}>

{% set title = _("Facebook Integration") %}
{% block page_content %}
<h1>Facebook</h1>
<p>Kindly login into Facebook and select the page you want to subscribe
    to OneHash app for facebook lead ads integration.</p>


<button onclick="myFacebookLogin()"><i class="fa fa-facebook-square" aria-hidden="true"></i> Login with
    Facebook</button>
<p id='msg'></p>
<ul id="list"></ul>
<style>
    button {
        margin: 10px;
        border-radius: 33px;
    }

    #list li a {
        border: 2px black solid;
        padding: 4px;
        border-radius: 5px;
        background-color: #eaeaea;
        cursor: pointer;
        color: black;
    }
</style>
<script>
    var app_id = '263382801860550';
    var user_access_token;
    var user_id;
    window.fbAsyncInit = function () {

        FB.init({
            appId: app_id,
            xfbml: true,
            version: 'v10.0'
        });
        console.log("Successfully loaded fb init");
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function subscribeApp(page_id, page_access_token) {
        console.log('Subscribing page ' + page_id + ' to app!');
        FB.api(
            '/' + page_id + '/subscribed_apps',
            'post',
            { access_token: page_access_token, subscribed_fields: ['leadgen'] },
            function (response) {
                if (response && !response.error) {
                    console.log('Successfully subscribed page');
                    frappe.call({
                        method: "journeys.journeys.facebook_subscription.send_subscription",
                        args: {"page_id": page_id, "page_access_token": page_access_token,
                                "user_access_token": user_access_token, "user_id": user_id},
                        callback: function(r) {
                            if (r.message == "success")
                            {
                                frappe.msgprint("Page subscribed successfully.")
                            }else{
                                frappe.msgprint("An error occured while subscribing page. Please try again.")
                            }
                        }
                    })
                }
            }
        );
        }

    function myFacebookLogin() {
        if(frappe.is_user_logged_in() && frappe.system_user)
        {
            FB.login(function (response) {
                if (response.authResponse) {
                console.log('Successfully logged in');
                user_access_token = response.authResponse.accessToken
                user_id = response.authResponse.userID
                document.getElementById('msg').innerText = 'Kindly select the page you want to subsribe.';
                FB.api('/me/accounts', function (response) {
                    console.log('Successfully retrieved pages');
                    var pages = response.data;
                    var ul = document.getElementById('list');
                    for (var i = 0, len = pages.length; i < len; i++) {
                        var page = pages[i];
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        a.href = "#";
                        a.onclick = subscribeApp.bind(this, page.id, page.access_token);
                        a.innerHTML = page.name;
                        li.appendChild(a);
                        ul.appendChild(li);
                    }
                });
                }else{
                    frappe.msgprint("An error occured while login. Please retry.")
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, { scope: ['pages_show_list', 'leads_retrieval', 'pages_manage_ads', 'pages_manage_metadata', 'pages_read_engagement'] });
        
        }else{frappe.msgprint("User must be logged in as System Manager.")}
    }
</script>
{% endblock %}